*.pyc
*~
*.scssc
*.swp
*.orig
*.DS_Store
:2e_*
:2e#
.AppleDouble
database.sqlite
courseware/static/js/mathjax/*
db.newaskbot
db.oldaskbot
flushdb.sh
build
.coverage
coverage.xml
cover/
log/
reports/
/src/
\#*\#
*.egg-info
.idea/
conf.d/conf.d/stepik.json
.venv
panqueques_grader_1
port
.env
.auth_key
.grader_url